

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.Toastify {
  // width: 100vw;
  // height: auto;
  // position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999999;
}

.validation-popup {
  position: absolute;
}

.login {
  text-align: center;
  margin-top: 20vh;
  padding: 40px 40px 60px 40px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0.493);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  
  h2 {
    margin-bottom: 30px;
  }

  input {
    width: 100%;
    margin-bottom: 20px;
  }

  button {
    font-weight: 600;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    margin-top: 30px;
  }
}

.header {
  height: 80px;
  padding-top: 20px;
  padding-right: 30px;

  .right-block {
    float: right;

    button {
      float: right;
    }
    .username {
      float: right;
      margin-right: 20px;
      font-weight: 600;
    }

    button {
      border: none;
      background-color: transparent;
      color: blue;
      text-decoration: underline;
    }


  }

  .left-block {
    float: left;
    margin-left: 30px;  

    a {
      color: blue;
      text-decoration: underline;
    }
  }
}

.add-client-form {
  width: 100%;
  padding-bottom: 40px;
  justify-content: space-between;

  input {
    margin-right: 10px;
    padding: 0px 10px 0px 10px;
    -moz-appearance: textfield;
    width: 10%;
  }

  select {
    margin-right: 10px;
    width: 15%;
  }

  button {
    font-weight: 600;
    padding: 5px 30px 5px 30px;
  }
}

.clients-table {
  width: 100%;
  border: 1px solid gray;

  thead {
    font-weight: 600;
    text-align: center;
    
    td {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  tbody {
    background-color: white;
    cursor: pointer;

    tr {
      td:first-child {
        padding-left: 5px;
        padding-right: 5px;
        text-align: right;
        width: 120px !important;
        background-color: white !important;
        padding: 0px;
        padding-top: 5px;
      }

      .act {
        opacity: 1 !important;
      }

      &:hover {
        td {
          .side-controls-block {
            opacity: 1;
          }
        }
      }
    }

    td {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;

      .side-controls-block {
        width: 120px;
        padding-right: 10px;
        float: right;
        opacity: 0;
        // position: absolute;
        // margin-left: -125px;
        // margin-top: -25px;
        text-align: right;

        i {
          margin-left: 10px;
          cursor: pointer;
        }
      }

      input {
        height: 32px;
        font-size: 14px;
        width: 95%;
      }

      input[type=date] {
        min-width: 135px;
        margin-right: 5px;
      }
    }
  }
}

.palette {
  position: fixed;

  width: 100px;
  height: 100px;
  z-index: 1000;

  .opt{
    width: 50px;
    cursor: pointer;
    height: 25px;
    float: left;
    border: 1px solid black;
  }
}

.history {

  .header-title {
    width: 100%;

    h2 {
      float: left;
      margin-right: 50px;
    }

    h4 {
      float: left;
      padding-top: 12px;
      margin-right: 15px;
      font-size: 16px;
    }
    overflow: hidden;
  }

  .new-action-form {
    width: 100%;
    padding-top: 30px;
    padding-left: 5px;
    justify-content: space-between;

    input[type=date] {
      width: 180px;
      margin-right: 30px;
      padding: 5px 5px 5px 5px;
    }

    textarea {
      width: 70%;
      margin-right: 30px;
      min-height: 39px;
      padding-top: 5px;
      padding-bottom: 0px;
    }

    button {
      font-weight: 600;
      padding: 5px 30px 5px 30px;
    }
  }


}

.actions {

  table {
    width: 100%;
    margin-top: 40px;
    thead {
      font-weight: 600;

      .short {
        width: 15%;
      }
    }

    td {
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    tbody {
      cursor: pointer;
    }

  }
}
